body {
    display: flex;
    flex-direction: column;
    margin: 0%;
    font-family: 'Roboto';
}

.content {
    margin: 0px 100px;
}

/* TOP START */

.top {
    background-color: #1F2937;
    padding: 0 100px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style-type: none;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    size: 18px;
    gap: 30px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main-text {
    flex-wrap: wrap;
    max-width: 400px;
    font-size: 48px;
    color: #F9FAF8 ;
    font-weight: 900;
}

.hero-secondary-text {
    flex-wrap: wrap;
    max-width: 400px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    max-width: fit-content;
    padding: 5px 20px;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
}

/* TOP END*/

/* MID START */

.mid {
    padding: 0 100px;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 20px;
}

.img-info {
    display: flex;
    justify-content: space-between;
}

.mid img{
    width: 225px;
    height: 225px;
    border-radius: 20px;
}

.img-txt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
}

.txt {
    display: flex;
    flex-wrap: wrap;
    max-width: 225px;
    text-align: center;
}

/* MID END */

/* BOTTOM START */


.bottom {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text {
    margin: 0px 100px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}
.byline {
    font-size: 24px;
    font-weight: bolder;
    align-self: last baseline;
}

.ctablock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up {
    margin: 30px 10vh;
    padding: 30px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
}

.sign-up button {
    color: #E5E7EB;
    border: 2px solid #E5E7EB; 
}

.cta {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* BOTTOM END */